/*
@styleguide

@title Card

Set of classes to create the card design pattern.

<div class="card">
  <div class="card-heading">
    <h1>Card</h1>
  </div>
  <div class="card-body">
    <h1 class="card-title">card-title</h1>
    <p>Sample paragraph</p>
  </div>
  <div class="card-footer">
    <p>Card footer</p>
  </div>
</div>

```
<div class="card">
  <div class="card-heading">
    <h1>Card</h1>
  </div>
  <div class="card-body">
    <h1 class="card-title">card-title</h1>
    <p>Sample paragraph</p>
  </div>
  <div class="card-footer">
    <p>Card footer</p>
  </div>
</div>
```

<div class="card card-primary">
  <div class="card-heading">
    <h1>Card Primary</h1>
  </div>
  <div class="card-body">
    <h1 class="card-title">card-title</h1>
    <p>Sample paragraph</p>
  </div>
  <div class="card-footer">
    <p>Card footer</p>
  </div>
</div>

```
<div class="card card-primary">
  <div class="card-heading">
    <h1>Card Primary</h1>
  </div>
  <div class="card-body">
    <h1 class="card-title">card-title</h1>
    <p>Sample paragraph</p>
  </div>
  <div class="card-footer">
    <p>Card footer</p>
  </div>
</div>
```
*/

.card {
  background-color: #fff;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.card + .card {
  margin-top: 1rem;
}

.card-body {
  padding: 15px;
}

.card-heading {
  background-color: var(--gray-light);
  border-bottom: 1px solid var(--border-color);
  color: #333;
  padding: 10px 15px;
}

.card-title {
  color: inherit;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.card-title > a {
  color: inherit;
}

.card-footer {
  background-color: var(--gray-light);
  border-top: 1px solid var(--border-color);
  padding: 10px 15px;
}

/* Themes */
.card-primary {
  box-shadow: 0px 3px 0px 0px #f0f2f4;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 0px 0px var(--theme-primary);
  }
}
