/*
@styleguide

@title Media

Use the `img` element with the optional `img-responsive` class.

<figure>
  <img src="sample.jpg" alt="Sample image" class="img-responsive">
</figure>

```
<img src="sample.jpg" alt="Sample image" class="img-responsive">
```
*/

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
