//
// Import Compass
//
// @import "compass";


//
// Variables
//
$font-size-base: 16!default;
$line-height-base: 1.4;

$margin-base-vertical:  $font-size-base/2!default;
$margin-base-horizontal: $font-size-base/2!default;

$variations: 8;

@while $variations > 0 {
  .mb-#{$variations} {
    margin-bottom: $variations+px;
  }
  $variations: $variations - 1;
}

%clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.btn {
  @extend %clearfix;
  border: 1px solid blue;
}

.btn-green {
  @extend .btn;
  background: green;
}

/////////////////////////////
// Components
/////////////////////////////

// Buttons
// @import "components/buttons";

body {
  background: red!important;
}