//
// Variables
//
$font-size-base: 16!default
$line-height-base: 1.4

$margin-base-vertical:  $font-size-base/2!default
$margin-base-horizontal: $font-size-base/2!default


.mb-#{$margin-base-vertical}
  margin-bottom: $margin-base-vertical+px

.mb-#{$margin-base-vertical*2}
  margin-bottom: $margin-base-vertical*2+px

.mb-#{$margin-base-vertical*3}
  margin-bottom: $margin-base-vertical*3+px

.mb-#{$margin-base-vertical*4}
  margin-bottom: $margin-base-vertical*4+px

.mb-#{$margin-base-vertical*5}
  margin-bottom: $margin-base-vertical*5+px
