///
/// Determine the line-height necessary to maintain a consistent
/// vertical rhythm from a provided font-size.
///
/// @param {Number (With Unit)} $value
///
/// @example scss - Usage
///   $line-height: baseline(60px);
///
/// @example css - CSS Output
///   $line-height: 1.35;
///
/// @return {Number (Unitless)}

@function baseline($value, $baseline: $baseline-base, $font-size: $font-size-base) {
  $unitless-value: strip-unit($value);
  $unitless-baseline: strip-unit($baseline);
  $unitless-font-size: strip-unit($font-size);

  $temp-baseline: $unitless-baseline;

  @while $unitless-value > $temp-baseline {
    $temp-baseline: $temp-baseline + $unitless-baseline;
  }

  @return $temp-baseline / $unitless-value;
}
