$white: #fff;
$black: #000;
$green-flat: #1bbc9b;
$blue-flat: #3498db;
$teal-flat: #389ebc;
$red-flat: #e96151;

$brand-primary: $red !default;


// Brand Colors as a Sass Map
$brand-colors: (
  primary: $green-flat,
  secondary: $blue-flat,
  tertiary: $teal-flat,
  quaternary: $red-flat,
  quinary: $black
);


// Brand Colors as variable declarations
$brand-primary: map-get($brand-colors, primary);
$brand-secondary: map-get($brand-colors, secondary);
$brand-tertiary: map-get($brand-colors, tertiary);
$brand-quaternary: map-get($brand-colors, quaternary);
$brand-quinary: map-get($brand-colors, quinary);
