/*
@styleguide

@title Margin

Utility classes to control the margin on any side of an element.

<div>
  <p class="mt-0">.mt-0</p>
  <p class="mt-5">.mt-5</p>
  <p class="mt-10">.mt-10</p>
  <p class="mt-20">.mt-20</p>
  <p class="mt-30">.mt-30</p>
  <p class="mt-40">.mt-40</p>

  <p class="mr-0">.mr-0</p>
  <p class="mr-5">.mr-5</p>
  <p class="mr-10">.mr-10</p>
  <p class="mr-20">.mr-20</p>
  <p class="mr-30">.mr-30</p>
  <p class="mr-40">.mr-40</p>

  <p class="mb-0">.mb-0</p>
  <p class="mb-5">.mb-5</p>
  <p class="mb-10">.mb-10</p>
  <p class="mb-20">.mb-20</p>
  <p class="mb-30">.mb-30</p>
  <p class="mb-40">.mb-40</p>

  <p class="ml-0">.ml-0</p>
  <p class="ml-5">.ml-5</p>
  <p class="ml-10">.ml-10</p>
  <p class="ml-20">.ml-20</p>
  <p class="ml-30">.ml-30</p>
  <p class="ml-40">.ml-40</p>
</div>
*/

.mt-0 { margin-top: 0; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }

.mr-0 { margin-right: 0; }
.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; }

.mb-0 { margin-bottom: 0; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }

.ml-0 { margin-left: 0; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
