/**
 * Media
 */

.media {
  @extend %cf;

  > .mediaImg {
    > img {
      display: block;

      @include bp(phone) {
        margin: 0 auto;
      }
    }

    @include bp(small-up) {
      float: left;
      margin-right: 10px;
    }
  }

  > .mediaImgExt {
    @include bp(small-up) {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  > .mediaBody {

  }
}
