/**
 * Navigation
 */
.navigation {
  background-color: $brand-primary;
  padding: 20px;

  @include media(">=sm") {
    padding: 40px;
  }

  @include media("print") {
    display: none !important;
  }
}
