/*
 * Social icons
 * http://alwaystwisted.com/post.php?s=2014-03-06-even-better-each-loops-with-sass-33
 */

$Twitter: #41b7d8;
$FB: #3b5997;
$GPlus: #d64937;
$LinkedIn: #0073b2;

$social: (twitter, $Twitter),
        (facebook, $FB),
        (googleplus, $GPlus),
        (linkedin, $LinkedIn);

@each $socialnetwork, $color in $social {
  .social-link--#{$socialnetwork} {
    background-color: $color;
    &:focus,
    &:hover {
      background-color: darken($color,5%);
    }
    &:before {
      background-image: url('/images/#{$socialnetwork}.png');
    }
  }
}