/**
 * Background colors
 */

.bgc-white { background-color: $white; }

.bgc-black { background-color: $black; }

.bgc-black { background-color: $black; }

.bgc-green { background-color: $green-flat; }

.bgc-blue { background-color: $blue-flat; }

.bgc-teal { background-color: $teal-flat; }

.bgc-red { background-color: $red-flat; }
