.hidden {
	display: none !important;

}

@include media(">=sm") {
	.hidden-sm {
		display: none !important;
	}
}


@include media(">=md") {
	.hidden-md {
		display: none !important;
	}
}

@include media(">=lg") {
	.hidden-lg {
		display: none !important;
	}
}
