.hidden {
	display: none !important;

	&-sm {
		@include media(">=sm") {
			display: none !important;
		}
	}

	&-md {
		@include media(">=md") {
			display: none !important;
		}
	}

	&-lg {
		@include media(">=lg") {
			display: none !important;
		}
	}
}
