/**
 * Margins
 */

$margin-unit: 8px !default;


// Margin top
.mt-a { margin-top: auto !important; }
.mt-0 { margin-top: $margin-unit * 0 !important; }
.mt-1 { margin-top: $margin-unit * 1 !important; }
.mt-2 { margin-top: $margin-unit * 2 !important; }
.mt-3 { margin-top: $margin-unit * 3 !important; }
.mt-4 { margin-top: $margin-unit * 4 !important; }
.mt-5 { margin-top: $margin-unit * 5 !important; }

// Margin bottom
.mb-a { margin-bottom: auto !important; }
.mb-0 { margin-bottom: $margin-unit * 0 !important; }
.mb-1 { margin-bottom: $margin-unit * 1 !important; }
.mb-2 { margin-bottom: $margin-unit * 2 !important; }
.mb-3 { margin-bottom: $margin-unit * 3 !important; }
.mb-4 { margin-bottom: $margin-unit * 4 !important; }
.mb-5 { margin-bottom: $margin-unit * 5 !important; }

// Margin right
.mr-a { margin-right: auto !important; }
.mr-0 { margin-right: $margin-unit * 0 !important; }
.mr-1 { margin-right: $margin-unit * 1 !important; }
.mr-2 { margin-right: $margin-unit * 2 !important; }
.mr-3 { margin-right: $margin-unit * 3 !important; }
.mr-4 { margin-right: $margin-unit * 4 !important; }
.mr-5 { margin-right: $margin-unit * 5 !important; }

// Margin left
.ml-a { margin-left: auto !important; }
.ml-0 { margin-left: $margin-unit * 0 !important; }
.ml-1 { margin-left: $margin-unit * 1 !important; }
.ml-2 { margin-left: $margin-unit * 2 !important; }
.ml-3 { margin-left: $margin-unit * 3 !important; }
.ml-4 { margin-left: $margin-unit * 4 !important; }
.ml-5 { margin-left: $margin-unit * 5 !important; }

// Margin all sides
.ma-a { margin: auto !important; }
.ma-0 { margin: $margin-unit * 0 !important; }
.ma-1 { margin: $margin-unit * 1 !important; }
.ma-2 { margin: $margin-unit * 2 !important; }
.ma-3 { margin: $margin-unit * 3 !important; }
.ma-4 { margin: $margin-unit * 4 !important; }
.ma-5 { margin: $margin-unit * 5 !important; }

// Margin left and right
.mx-a {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mx-0 {
  margin-left: $margin-unit * 0 !important;
  margin-right: $margin-unit * 0 !important;
}

.mx-1 {
  margin-left: $margin-unit * 1 !important;
  margin-right: $margin-unit * 1 !important;
}

.mx-2 {
  margin-left: $margin-unit * 2 !important;
  margin-right: $margin-unit * 2 !important;
}

.mx-3 {
  margin-left: $margin-unit * 3 !important;
  margin-right: $margin-unit * 3 !important;
}

.mx-4 {
  margin-left: $margin-unit * 4 !important;
  margin-right: $margin-unit * 4 !important;
}

.mx-5 {
  margin-left: $margin-unit * 5 !important;
  margin-right: $margin-unit * 5 !important;
}

// Margin top and bottom
.my-a {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.my-0 {
  margin-bottom: $margin-unit * 0 !important;
  margin-top: $margin-unit * 0 !important;
}

.my-1 {
  margin-bottom: $margin-unit * 1 !important;
  margin-top: $margin-unit * 1 !important;
}

.my-2 {
  margin-bottom: $margin-unit * 2 !important;
  margin-top: $margin-unit * 2 !important;
}

.my-3 {
  margin-bottom: $margin-unit * 3 !important;
  margin-top: $margin-unit * 3 !important;
}

.my-4 {
  margin-bottom: $margin-unit * 4 !important;
  margin-top: $margin-unit * 4 !important;
}

.my-5 {
  margin-bottom: $margin-unit * 5 !important;
  margin-top: $margin-unit * 5 !important;
}
