/**
 * Sass Variables
 */
$root: '../';

$path-css: $root + 'css/';
$path-js: $root + 'js/';
$path-fonts: $root + 'fonts/';
$path-img: $root + 'images/';
$path-svg: $path-img + 'svg/';
$path-icons: $path-svg + 'svg_iconset/';

$path-gallery-2014: $path-img + 'my_holidays/';


$footer-height: 50px;
$panel-padding: 40px 0;
$white: #fff;

$use-sticky-footer: "no";

$green-flat: #1bbc9b;
$blue-flat: #3498db;
$teal-flat: #389ebc;
$red-flat: #e96151;

// Brand Colors as variable declarations
$brand-primary: $green-flat;
$brand-secondary: $blue-flat;
$brand-tertiary: $teal-flat;
$brand-quaternary: $red-flat;

// Brand Colors as a Sas Map
$brand-colors: (
	primary: $green-flat,
	secondary: $blue-flat,
	tertiary: $teal-flat,
	quaternary: $red-flat,
	quinary: $red-flat,
	asdf: $red-flat,
	ab: $red-flat
);
